###
# All but REQUIRED variable are optional.
#

# [REQUIRED] URI for PostgreSQL. Examples:
#
#   postgres://user:pass@localhost/yuanjian or
#   postgresql://<user>:<pass>@<db>.neon.tech/neondb?sslmode=require
#
DATABASE_URI=

# Min and max database connection pool size. See
# https://sequelize.org/docs/v6/other-topics/connection-pool/
#
DATABASE_MAX_POOL_SIZE=
DATABASE_MIN_POOL_SIZE=

# Tencent Meeting (腾讯视频) variables. TM_USER_IDS is a comma-separated list of
# Tecent Meeting user ids. The number of user ids determins the max number of
# concurrent meetings. Each additional user id requires purchasing a "主持人账号"
# at https://meeting.tencent.com/v2/buy/meeting.
#
# Notes for service admin:
#   - Log in as admin at https://meeting.tencent.com/marketplace/corp-created
#   - App config at https://meeting.tencent.com/marketplace/process-build-app/app-credentials?sid=21740100373&page_channel_source=webmarket&from=
#
TM_ENTERPRISE_ID=
TM_APP_ID=
TM_SECRET_ID=
TM_SECRET_KEY=
TM_USER_IDS=

# For sending emails.
#
SENDGRID_API_KEY=

# Authorization token for application integration. When calling integration APIs
# (e.g. transcripts.get),  use this token in the "Authorization: Bearer ..."
# header.
#
INTEGRATION_AUTH_TOKEN=

# Token to be inserted to the webhook URLs. For example, if the token is "foo",
# all Webhook API will have "webhook.foo." prefix, e.g. 
# `https://../api/v1/webhook.foo.submitMenteeApplication` This is a security
# measure to prevent unauthorized Webhook invocation. Use a securely random
# string.
# 
WEBHOOK_TOKEN=

# For next-auth.js. See https://next-auth.js.org/configuration/options#secret
#
NEXTAUTH_SECRET=

# Public-facing URL. Only needed for non-vercel.com production environments.
# next-auth.js recognize vercel.com environment automatically.
# https://next-auth.js.org/configuration/options#nextauth_url
#
NEXTAUTH_URL=

# [REQUIRED for Docker commands] The app's Docker image when pushing or pulling
# from image repos.
APP_DOCKER_IMAGE=

# Nginx's Docker image, needed for servers in China where access to Docker Hub
# is blocked. e.g. `m.daocloud.io/docker.io/library/nginx`
NGINX_DOCKER_IMAGE=
