services:
  app:
    image: ${APP_DOCKER_IMAGE:?}:latest
    env_file: .env
    build:
      context: .
      platforms:
        - linux/amd64
      target: runner
  nginx:
    image: ${NGINX_DOCKER_IMAGE:-nginx}:latest
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certbot:/var/www/certbot:ro
      # Due to file permission issues on the host machine, we cannot mount the entire directory.
      - /etc/letsencrypt/live/yuantuapp.com/fullchain.pem:/certs/yuantuapp.com/fullchain.pem:ro
      - /etc/letsencrypt/live/yuantuapp.com/privkey.pem:/certs/yuantuapp.com/privkey.pem:ro
      - /etc/letsencrypt/live/mentors.org.cn/fullchain.pem:/certs/mentors.org.cn/fullchain.pem:ro
      - /etc/letsencrypt/live/mentors.org.cn/privkey.pem:/certs/mentors.org.cn/privkey.pem:ro
      - /etc/letsencrypt/live/yuanjian.net/fullchain.pem:/certs/yuanjian.net/fullchain.pem:ro
      - /etc/letsencrypt/live/yuanjian.net/privkey.pem:/certs/yuanjian.net/privkey.pem:ro
    ports:
      - "443:443"
      - "80:80"
    depends_on:
      - app
