.markdownStyler h1,
.markdownStyler h2,
.markdownStyler h3,
.markdownStyler h4 {
  font-weight: bold;
  margin-top: 1.2em;
  margin-bottom: 1em;
}

.markdownStyler h1 {
  font-size: 1.75em;
}

.markdownStyler h2 {
  font-size: 1.5em;
}

.markdownStyler h3 {
  font-size: 1.25em;
}

.markdownStyler h4 {
  font-size: 1.1em;
}

/* break-word allows text to wrap onto the next line by breaking words 
  if they are too long to fit within their container */
.markdownStyler p {
  margin: 0.75em 0;
  word-break: break-word;
}

/* This color mirrors brand.c color in theme/colors.ts */
.markdownStyler a {
  color: var(--chakra-colors-brand-c); 
}

.markdownStyler ul,
.markdownStyler ol {
  padding-inline-start: 1.5em;
}

.markdownStyler li {
  display: list-item;
  text-align: -webkit-match-parent;
}
